/*
 * Block editor stylesheet
*/

@import 'variables';

body.block-editor-page {
    .edit-post-visual-editor {
        font-family: 'Heebo', sans-serif;

        .wp-block {
            max-width: 51.875rem;

            &[data-align="full"] {
                max-width: none;
            }

            &[data-align="wide"] {
                max-width: 72rem;
            }
        }

        .wp-block-paragraph {
            font-size: 1.1rem;
            line-height: 1.5;

            @media screen and (min-width: $break-37) {
                font-size: 1.4rem;
            }
        }

        ul,
        ol {
            font-size: 1.1rem;

            @media screen and (min-width: $break-37) {
                font-size: 1.4rem;
            }
        }

        figcaption {
            max-width: 50rem;

            &[data-align="full"],
            &[data-align="wide"] {
                width: 90%;
            }
        }
    }

    .editor-post-title__input {
        font-family: 'Heebo', sans-serif;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.1;

        @media screen and (min-width: $break-37) {
            font-size: 3rem;
        }
    }
}

@import 'core-blocks';
